<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.onload=function () {
            var oBtn1 = document.getElementById("btn1");
            var oBtn2 = document.getElementById("btn2");
            var oBtn3 = document.getElementById("btn3");
            var oDiv = document.getElementById("div1");
            oBtn1.onclick=function () {
                var  oBtn2 = oDiv.getElementsByTagName("input");
                for (var i=0;i<oBtn2.length;i++){
                    oBtn2[i].checked = true;
                }
            };
            oBtn2.onclick=function () {
                var  oBtn2 = oDiv.getElementsByTagName("input");
                for (var i=0;i<oBtn2.length;i++){
                    oBtn2[i].checked = false;
                }
            };
            oBtn3.onclick=function () {
                var  oBtn2 = oDiv.getElementsByTagName("input");//将div1下面的input标签选出来
                for (var i=0;i<oBtn2.length;i++){
                    oBtn2[i].checked = !oBtn2[i].checked;
                }
            };
        };
    </script>
</head>
<body>
    <input id="btn1" type="button" value="全选">
    <input id="btn2" type="button" value="全不选">
    <input id="btn3" type="button" value="反选"><br>
    <div id="div1">
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
        <input type="checkbox"><br>
    </div>
</body>
</html>